/* Start Jumbotron/Home */
.jumbotron {
  display: flex;
  background-image: url(img/jumbotron.jpg);
  background-size: cover;
  background-position: center center;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#home .up-overlay {
  z-index: 1;
}
/* End Jumbotron/Home */

/* Start About */
#about {
  min-height: 600px;
}
/* End About */

/* Start Services */
#services {
  min-height: 400px;
  background-color: #555;
}

.services i:hover {
  color: #0d6efd;
}
/* End Services */

/* Start Contact */
#contact a {
  color: #000;
}

#contact a:hover {
  color: #0d6efd;
}
/* End Contact */

/* Start Responsive */
@media screen and (min-width: 576px) {
  .jumbotron {
    min-height: 600px;
  }
}

@media screen and (max-width: 768px) {
  #about .container .container-about {
    text-align: center;
  }
}
/* End Responsive */
